<div class="container">
	<div class="col-xs-12 text-center">
		<h1>管理者TOP</h1>
		<td><%= link_to "ユーザー一覧", admins_users_path, class: "btn btn-success" %></td>
		<td><%= link_to "商品一覧", admins_products_path, class: "btn btn-success" %></td>
	</div>
</div>