

.disc_ds{

	padding-left: 7px;
    padding-bottom: 6px;
}

.disc_n{
	margin-bottom: 0px;
}


button:hover{
	background: #ffff88;
}

.is_cart{
	border-radius: 6px;
    background-color: antiquewhite;
}

.is_edit{
	border-radius: 6px;
    background-color: lightcyan;
}

.is_del{
	border-radius: 6px;
    background-color: crimson;
}


