


/* index の css */

.pro_header{
	text-align: center;
}

.cd_image_index{
	margin-left: 8%;
	margin-bottom: 5px;
}


.index_tr{
	font-size: 13px;
	text-align: left;
}


.index_show{
	border: 1px solid darkblue;
	text-align: center;
	width: 32%;
	margin: -10px 4% 15px;
	background-color: blanchedalmond;
}

.col-lg-3{
	font-size: 17px;
}



.th_tr{
	padding: 0;
    text-align: left;
    width: 50%;
}

.is_cart{
	font-size: 15px;
	margin-bottom: 5px;
}

