<div class="nested-fields">
  <div class="field">
    <%= f.text_field :disc_number,:placeholder => "ディスク数"   %>
    <%= f.text_field :disc_name,:placeholder => "ディスク名"   %>
  </div>
  <%= link_to_remove_association "remove disc", f %>
</div>
