<div class="nested-fields">
  <div class="field">
    <%= f.text_field :song_number,:placeholder => "曲数"   %>
    <%= f.text_field :song_title,:placeholder => "曲名"   %>
  </div>
  <%= link_to_remove_association "削除", f %>
</div>
