<head>
    <title>NnkCompany</title>
</head>

<body>
  <h1>新商品一覧</h1>
  <div cladss="cd_box">
    <div class="col-lg-3" style="
        border: 1px solid #0f0f0f;
        width: 20%; margin-right: 15px; ">
      <table>cd_image
        <tr></tr>
      </table>
      <table>artist
        <tr></tr>
      </table>
      <table>cd_name
        <tr></tr>
      </table>
      <table>price
        <tr>¥ </tr>
      </table>
      <table>
        <tr><%=link_to "詳細", root_path %></tr>
      </table>
    </div>

    <div class="col-lg-3" style="
        border: 1px solid #0f0f0f;
        width: 20%; margin-right: 15px; ">
      <table>cd_image
        <tr></tr>
      </table>
      <table>artist
        <tr></tr>
      </table>
      <table>cd_name
        <tr></tr>
      </table>
      <table>price
        <tr>¥ </tr>
      </table>
      <table>
        <tr><%=link_to "詳細", root_path %></tr>
      </table>
    </div>

    <div class="col-lg-3" style="
        border: 1px solid #0f0f0f;
        width: 20%; margin-right: 15px; ">
      <table>cd_image
        <tr></tr>
      </table>
      <table>artist
        <tr></tr>
      </table>
      <table>cd_name
        <tr></tr>
      </table>
      <table>price
        <tr>¥ </tr>
      </table>
      <table>
        <tr><%=link_to "詳細", root_path %></tr>
      </table>
    </div>

    <div class="col-lg-3" style="
        border: 1px solid #0f0f0f;
        width: 20%; margin-right: 15px; ">
      <table>cd_image
        <tr></tr>
      </table>
      <table>artist
        <tr></tr>
      </table>
      <table>cd_name
        <tr></tr>
      </table>
      <table>price
        <tr>¥ </tr>
      </table>
      <table>
        <tr><%=link_to "詳細", root_path %></tr>
      </table>
    </div>
  </div>




</body>